/* https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered */

.dot-container {
    display: flex;
    gap: 10px;
}
.dot {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transition: ease-in-out 100ms;
}
.dot:hover {
    width: 50px;
    height: 50px;
}
.dot:hover ~ .dot{
    width: 40px;
    height: 40px;
}

.dot:hover ~  .dot ~ .dot {
    width: 30px;
    height: 30px;
}

.dot:hover ~  .dot ~ .dot ~ .dot{
    width: 25px;
    height: 25px;
}
