body {
    background-color: rgb(96, 97, 131);
}
.shit {
    background-color: red;
    width: 15px;
    height: 15px;
    transition: ease-in-out 100ms;
    font-size: 0;
    color: white;
    position: fixed;
    left: 25px;
    top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

a {
    text-decoration: none;
    color: white;
}

.shit:hover{
    width: 100px;
    height: 100px;
    font-size: 16px;
}

.sand {
    width: 50px;
    height: 50px;
    background-color: aqua;
    transition: ease-in-out;
}

.a {
    position: relative;
    left:5000px ; 
}

.b {
    position: relative;
    top: 10000px;
    left: 50000px;
}

.c {
    position:relative ;
    top: 100px;
    left: 100px;
}